@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+RO:wght@100..400&display=swap');

@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        scroll-behavior: smooth;
        background-color: #ffffffff;
        font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.5;
        min-height: 100vh;
    }   
}

@layer components {
    .custom-banner {
        @apply relative bg-[#51a72c];
    }

    .custom-text {
        @apply text-[#51a72c];
    }

    .back-to-top-btn:hover {
        @apply bg-[#388e3c] scale-[1.08] -translate-y-1 shadow-[0_8px_24px_rgba(67,182,73,0.35),0_2px_8px_rgba(0,0,0,0.10)];
    }
}

@layer utilities {
    .steel-haze {
        @apply text-[#6d7f8f];
    }

    .custome-deskription {
        @apply text-[#7E99A3];
    }

    .pattern-background {
        @apply bg-[url('src/assets/Backgroun-paterns/smart-pattern.png')] bg-repeat bg-cover bg-center bg-[rgba(255,255,255,0.1)] bg-blend-overlay min-h-screen flex flex-col;
    }

    .pattern-background::after {
        content: '';
        @apply block h-20;
    }
}